# dependencies
node_modules

# Misc
.idea
.vscode
.zed

# output
dist
dist-ssr
*.tgz

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# typescript
*.tsbuildinfo

# local
*.local

# cache
.cache
*.cache.json

# turbo
.turbo

# changesets
.changeset/status.json
.changeset/pre.json

*metadata.json
!entry/metadata.json
!entry/hooks-metadata.json

# vitepress
**/.vitepress/cache
**/.vitepress/dist
